# Environment files
.env
.env.dev
.env.prod
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
backend/uploads/

# Node
node_modules/
frontend/node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/
*.swp
*.swo
